<!DOCTYPE html>
<html>
  <head>
    <title>Express Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a class="write" href="/write">記事を書く</a>
    <div class="container">
      <h1 class="title">Express Blog</h1>
      <% for(var i=0; i<posts.length; i++) {%>
        <div class="article">
          <h2><%= posts[i].title%></h2>
          <p><%- posts[i].content%></p>
        </div>
      <% } %>
  </div>
  </body>
</html>
